.card{
  flex-basis:48%;
}

.cardImg{
  height:170px;
}

.card-short-desc{
  font-size:0.8rem;
}

header{
  position: relative;
}

.img-bottom{
  position: absolute;
    font-size: 12px;
    background: #fff;
    padding: 7px 13px;
    border-radius: 2px;
    bottom: 7px;
    right: 7px;
    box-shadow: 0 1px 11px 0 rgb(0 0 0 / 11%);
}

.img-bottom p{color: #121212;}

.img-bottom div{
  display: flex;
    align-items: center;
}

.circle{
  height: 10px;
    width: 10px;
    background: #f28e1c;
    border-radius: 50%;
    margin-right:5px;
}

.sub__details {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.sub__details .sub__details__info {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

p {
  margin-bottom: 0%;
  color: #948e8e;
}

.sub__tags {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin-top: 20px;
}

.sub__tags .sub__tags__detail {
  height: fit-content;
  color: #616161;
  background: #eee;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 4px 14px;
  font-size: 12px;
}

.bottom__text {
  color: #000;
  margin-bottom: 5px;
  font-size: 13px;
}

.card__footer {
  display: flex;
  align-items: center;
}

.card__footer img {
  height: 50px;
  cursor: pointer;
}

.card-body {
  padding: 0.5rem;
}


/* MEDIA QUERY */
@media screen and (max-width: 710px){
  .card__footer{
    flex-direction:column;
    align-items: center;
  }
}

@media screen and (max-width: 590px){
  .card{
    width: 100%;
    flex-basis:100%;
  }
  .card__footer{
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 340px) {
  .card__footer{
    flex-direction:column;
    align-items: center;
  }
}