.wrapper {
  max-width: 1000px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin: 60px auto;
}

.event__cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event__cards h2{
  flex-basis:100%;
  text-align: center;
}

.event__cards > * {
  margin-bottom: 2rem;
}

.event__category,
.event__sub__category {
  display: flex;
  justify-content: space-between;
  color: #948e8e;
  white-space: nowrap;
  overflow: auto;
}

.ediv{
  margin-right: 15px;
}

.event__category__links:hover,
.event__category__links:active,
.event__category__links:target {
  background: #fa7328;
  color: #fff;
}

.event__category__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 5px;
  color: #948e8e;
  outline: none;
  border: 0;
}

.links:hover,
.links:focus {
  color: #fff;
  background: #fa7328;
}

.event__background {
  padding: 20px 18px;
  background: #eeeefb;
  border-radius: 5px;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.tags {
  border: 1px solid #fa7328;
  padding: 0.2rem;
  transition: 0.6s;
}

.tags button {
  background: none;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
}

.pagination a{
  background:#fc9d69;
  box-shadow: 0 2px 4px rgb(24 4 50 / 24%);
  border-radius:4px;
  padding:12px 18px;
}

.pagination div{
  margin:0 14px;
  color:#616161;
  font-size:16px;
  font-weight: 600;
}
