.wrapper {
  max-width: 1000px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin: 60px auto;
}

.event__category,
.event__sub__category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #948e8e;
}

.event__sub__category {
  justify-content: space-around;
}

.event__category__links:hover,
.event__category__links:active {
  background: #fa7328;
  color: #fff;
}

.event__category__links .links:hover {
  color: #fff;
}

.event__category__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event__category__links .links {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 5px;
  color: #948e8e;
}

.event__background {
  padding: 20px 18px;
  background: #eeeefb;
  border-radius: 5px;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.tags {
  border: 1px solid #fa7328;
  padding: 0.2rem;
  transition: 0.6s;
}
